# Secret files
src/main/resources/application.properties

# Build directories
target/
build/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Documentation
HELP.md
